@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  max-width: 410px;
  margin: 0 auto;
  height: 100dvh;
}

@layer base {
  @font-face {
    font-family: 'NPSfontBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Goyang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'insungitCutelivelyjisu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}
